.toleranceForm {
  margin: 5% auto auto auto;
  color: #f6f8f2;
  background-color: #1b0352D5;
  width: 60%;
  /* text-align: center; */
  padding: 10px;
  border-radius: 10px;
  padding-left: 70px;
}