html,
body,
#react-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  background-image: url('../../images/bubbleInBubble.jpg');
  min-height: 100%;
  background-repeat: no-repeat;
  background-position: fixed;
  
}

body {

  font-family: sans-serif; 
}


p {
  font-family: sans-serif;
}

h1 { 
  font-family: 'Nerko One', cursive, sans-serif; 
  color: #1b0352;
  font-size: 70px;
}



/* --------------------------------------------------------------------------------
Container
-------------------------------------------------------------------------------- */

.container {
  padding: 20px;
}

/* --------------------------------------------------------------------------------
Button
-------------------------------------------------------------------------------- */

button {
  background-color: #f6f8f2;
  border: none;
  border-radius: 10px;
}

.btn_sizeMin {
  min-height: 50px;
  min-width: 100px;
  border-radius: 10px;
}

.btn_sizeSm {
  padding: 10px 15px;
  font-size: 0.8rem;
  border-radius: 10px;
}

.btn_sizeFull {
  display: block;
  width: 100%;
  border-radius: 10px;

}



/* This line makes the "Register" and "Login" buttons look like links */
.btn_asLink {
  padding: 0;
  border-width: 0;
  border-bottom: 1px solid #444;
  border-radius: 100%;
  background: none;
  font: inherit;
  color: #444;
  border-radius: 10px;

}

.btn_asLink:hover {
  background-color: transparent;
  border-color: #008183;
  color: #008183;
}

/* --------------------------------------------------------------------------------
Alert
-------------------------------------------------------------------------------- */

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

/* --------------------------------------------------------------------------------
Form Treatment
-------------------------------------------------------------------------------- */

.formPanel {
  box-sizing: border-box;
  width: 400px;
  max-width: 100%;
  padding: 25px;
  margin: 0 auto 20px;
  background-color: #a09bab;
  border-radius: 10%;
  box-shadow: 0 1px 2px rgb(0, 0, 0, 0.4);
}

input {
  margin: 5px;
  margin-bottom: 10px;

}
/* -------CUSTOM STYLING DEV  */


.chosenAct {
  background-color: tomato;
}