.searchForm {
  border: 1px solid black;
  width: 60%;
  margin: 0px auto;
  margin-top: 40px;
  display: flex;
  border-radius: 10px;
  padding-bottom: 30px;
  text-align: center;
}

.searchForm, input label {
  flex-direction: column;
  background-color: #1b0352D5;
}

.searchForm input {
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0px;

}
.searchForm label {
  align-self: center;
  margin-bottom: 0px;
  color: #f6f8f2;
  margin-top: 20px;
}
.searchBtn{
background-color: #f6f8f2;
border: none;
border-radius: 10px;
}
.bubbleMateMatch {
  color: #f6f8f2;
  text-align: center;
}
.bubbleMateMisMatch {
  color: #f6f8f2;
  background-color: #ff0000BF;
  text-align: center;
}
.bubbleMate {
  color: #f6f8f2;
  text-align: center;
}
.addBtn {
  margin: 10px;
}
