body {
  font-family: 'Nerko One', cursive, sans-serif; 
  color: #1b0352;
}

.headContainer {
  display: flex;
  justify-content: space-between;
}


.numDisp {
   text-align: right;
   display: block;
   font-size: 28px;
}


#numRender {

}