/* .nav-title {
    font-size: 24px;
    font-weight: 700;
    display: inline-block;
    color: #f2f2f2;
    background-color: red;
} */

.nav {
  margin: 0 0 10px;
  overflow: hidden;
  display: flex;
  flex-direction: row-reverse; 
}



.nav-link {
  border: none;
  color: black;
  display: inline-block;
  background-color: transparent;
}

.nav-link:hover {
  
}

.nav-right {
  float: right;
}